.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
/* .left{
    border: 2px solid black;
} */
.profile img{
    width: 10vw;
    height: 20vh;
    border-radius: 20px;
    margin-left: 50px;
}
.profile h1{
    text-align: center;
    padding: 20px;
}
nav{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: blue;
}
.top_chart img{
    margin-top: 20px;
    height: 50vh;
    width: 80vw;
}
.bottom_chart img{
    height: 30vh;
    width: 30vw
}
.blocks{
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    
}
.block_1{
    width: 15vw;
    height: 15vh;
    background-image: linear-gradient(to right, #5d24d4, #2f66f5);
}
.block_2{
    width: 15vw;
    height: 15vh;
    background-image: linear-gradient(to right, #fb5e1f, #f8ab30);
}
.block_3{
    width: 15vw;
    height: 15vh;
    background-image: linear-gradient(to right, #1eb588, #81c54a);
}
.block_4{
    width: 15vw;
    height: 15vh;
    background-image: linear-gradient(to right, #f11a64, #fd5d10);
}
.bottom_chart{
    display: flex;
    justify-content: space-around;
}
